.above-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.open-menu-button {
    background-color: blueviolet;
    color: #FFF;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.open-menu-button:hover {
    color: #000;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.back-menu-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.back-menu-button:hover {
    color: #000;
    background-color: salmon;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.graph-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.graph-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.graph-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.graph-info {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.graph-info::-webkit-scrollbar {
    width: 8px;
}

.graph-info::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.graph-info::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.graph-info::-webkit-scrollbar-track {
    background-color: #333;
}

.graph-info.show {
    transform: translateX(0);
}

.close-menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.info-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-options button,
.info-menu {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0;
}

.info-options button:hover,
.info-menu:hover {
    background-color: aqua;
    color: #000;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.graph-info {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 28px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-options button {
    background-color: blueviolet;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.info-options button:hover {
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.order-size-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.order-size-info p {
    font-size: 16px;
    text-align: center;
}

.vertex-degree {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.degree-info {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.input-degree {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    display: flex;
    border-radius: 8px;
    outline: none;
}

.input-degree input {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.degree-button {
    padding: 10px;
    background-color: blueviolet;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.degree-button:hover {
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.info-menu {
    background-color: red;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.info-menu:hover {
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.pdf-section {
    margin-top: 5px;
}

.upper-input {
    display: flex;
    justify-content: space-arround;
    gap: 10px;
    width: 100%;
    height: 50%;
}

.lower-input {
    display: flex;
    gap: 10px;
    height: 50%;
}

.input-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px #000;
}

.input-container input {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.pdf-button {
    padding: 10px;
    background-color: blueviolet;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.pdf-button:hover {
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.graph-button {
    background-color: blueviolet;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.graph-button:hover {
    cursor: pointer;
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.remove-button {
    background-color: red;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

.remove-button:hover {
    cursor: pointer;
    background-color: salmon;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.graph {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-left: 250px;
    padding: 20px;
    width: 70%;
}

.open-modal-button {
    padding: 10px 20px;
    background-color: #69b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-modal-button:hover {
    background-color: #57a48e;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

.matrix-display table {
    width: 100%;
    border-collapse: collapse;
}

.matrix-display th,
.matrix-display td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.matrix-display th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.matrix-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.matrix-display table {
    border-collapse: collapse;
    width: auto;
    background-color: #ffffff;
    font-size: 16px;
}

.matrix-display th,
.matrix-display td {
    border: 2px solid #333333;
    padding: 10px;
    text-align: center;
    color: #333333;
}

.matrix-display th {
    background-color: #555555;
    color: #ffffff;
    font-weight: bold;
}

.matrix-display tr:nth-child(even) {
    background-color: #f1f1f1;
}

.matrix-display tr:hover {
    background-color: #d1d1d1;
}

.matrix-display td:first-child,
.matrix-display th:first-child {
    background-color: #777777;
    color: #ffffff;
    font-weight: bold;
}

.list-display th {
    padding: 5px 10px;
}

.adjacency-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
}

.adj-input {
    background-color: #444;
    padding: 5px;
    display: flex;
    border-radius: 8px;
    outline: none;
}

.adj-input input {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.adjacency-result {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.check-button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.check-button:hover {
    background-color: aqua;
    color: black;
}

.shortest-path-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
}

.path-input {
    background-color: #444;
    padding: 5px;
    display: flex;
    border-radius: 8px;
    outline: none;
}

.path-input input {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.calculate-button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.calculate-button:hover {
    background-color: aqua;
    color: black;
}

.eulerian-button {
    background-color: blueviolet;
    border-radius: 28px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    border: 0;
    color: white;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
    cursor: pointer;
}

.eulerian-button:hover {
    background-color: aqua;
    color: black;
    transform: translateY(-5px);
    box-shadow: 0px 10px 12px 0px rgba(245, 244, 244, 0.3);
}

.eulerian-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Certifique-se de que está acima dos outros elementos */
}

.eulerian-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.eulerian-content h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.eulerian-content .close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

.csv-upload {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 20px;
    border: 2px dashed #69b3a2;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.csv-upload:hover {
    background-color: #e3f7ef;
}

.csv-upload input {
    display: none;
}

.csv-upload label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    background-color: #69b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.csv-upload label:hover {
    background-color: #57a48e;
    transform: scale(1.05);
}

.csv-upload label:active {
    transform: scale(0.95);
}

.csv-upload h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.csv-help {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    background-color: #69b3a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.csv-help:hover {
    background-color: #57a48e;
    transform: scale(1.05);
}

.help-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.help-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
}

.guide-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.guide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.guide-content img {
    width: 80%;
    border: 5px solid #ccc;
}

.remove-edge {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.remove-edge .input-container input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

.remove-edge .remove-button {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-edge .remove-button:hover {
    background-color: #e5533d;
}